<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kichukkhon.emergencyservice">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ESTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kichukkhon.emergencyservice.Activity.AdminActivity" />
        <activity android:name="com.kichukkhon.emergencyservice.Activity.AmbulanceActivity" />
        <activity android:name="com.kichukkhon.emergencyservice.Activity.PoliceActivity" />
        <activity android:name="com.kichukkhon.emergencyservice.Activity.FireServiceActivity" />
        <activity android:name="com.kichukkhon.emergencyservice.Create.CreateAmbulance" />
        <activity android:name="com.kichukkhon.emergencyservice.Create.CreatePolice" />
        <activity android:name="com.kichukkhon.emergencyservice.Create.CreateFireService" />
        <!-- Activity.MainActivity -->
        <activity android:name="com.kichukkhon.emergencyservice.EditActivity.EditAmbulance" />
        <activity android:name="com.kichukkhon.emergencyservice.Activity.SettingsActivity" />
        <activity android:name="com.kichukkhon.emergencyservice.EditActivity.EditFireService" />
        <activity android:name="com.kichukkhon.emergencyservice.EditActivity.EditPolice"></activity>
    </application>

</manifest>